:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-background: hsla(0, 0%, 0%, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.main {
  height: 100%;
  width: 85vw;
}

.navBar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  margin: 0.75em;
}

.menu:hover {
  cursor: pointer;
  fill: var(--Orange);
}

.homeLogo {
  margin-right: 3em;
}

.navList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Dark-grayish-blue);
}

.righties {
  display: block;
}

.list {
  display: flex;
  gap: 1.5em;
}

.list div {
  display: flex;
  width: auto;
  cursor: pointer;
  height: 2em;
  text-align: center;
  transition: 0.2s ease-in-out;
  align-items: center;
}

.close {
  opacity: 0;
}

.list h4 {
  align-items: center;
  font-size: 0.8em;
  font-weight: 450;
  padding: 0.5em;
}

.list div:has(h4):hover {
  color: var(--Orange);
  background-color: var(--Pale-orange);
}

.lefties {
  gap: 1.8em;
  align-items: center;
}

.cart {
  fill: var(--Grayish-blue);
}

.cart:hover {
  cursor: pointer;
  fill: var(--Very-dark-blue);
}

.profile img {
  padding: 0.2em;
  border-radius: 50%;
  background-color: var(--White);
  width: 42.5px;
  height: 42.5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile img:hover {
  cursor: pointer;
  background-color: var(--Orange);
}

#cart-summary-close {
  fill: var(--Orange);
  display: none;
}

.cart-summary {
  position: absolute;
  top: 10%;
  right: 13%;
  background-color: var(--White);
  width: 30vh;
  height: 20vh;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px #dadada;
  display: none;
}

hr {
  margin-bottom: 2em;
  height: 0.1px;
  border: 0.1px solid var(--Light-grayish-blue);
}

h1 {
  color: var(--Very-dark-blue);
}

h3 {
  font-size: 0.8rem;
  font-stretch: expanded;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  color: var(--Dark-grayish-blue);
}

p {
  color: var(--Dark-grayish-blue);
  font-size: 0.85rem;
}

.content {
  align-items: center;
  justify-content: space-evenly;
}

.productImagePanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.productInfoPanel {
  width: 400px;
  margin-left: 2em;
}

.priceDiscount {
  display: flex;
  align-items: center;
  height: 2rem;
}

.price {
  color: var(--Very-dark-blue);
  font-size: 1.5rem;
  font-weight: 600;
}

.discount {
  height: -moz-min-content;
  height: min-content;
  padding: 0.2em 0.3em 0.2em 0.3em;
  text-align: center;
  font-size: 0.65rem;
  border-radius: 0.2rem;
  color: var(--White);
  background-color: var(--Very-dark-blue);
}

.was {
  font-size: smaller;
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: line-through;
}

span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  background-color: var(--Light-grayish-blue);
}

#decrease {
  border-radius: 0 0.8rem 0.8rem 0;
}

#increase {
  border-radius: 0.8rem 0 0 0.8rem;
}

#decrease:hover {
  cursor: pointer;
  box-shadow: 5px 0px 5px 0px #aaa;
}

#increase:hover {
  cursor: pointer;
  box-shadow: -5px 0px 5px 0px #aaa;
}

#quantity {
  background-color: var(--Light-grayish-blue);
  box-shadow: 0px 0px 3px -5px #aaa;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: 3em;
  width: 13em;
  color: var(--Very-dark-blue);
  background-color: var(--Orange);
  border: none;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: var(--Pale-orange);
  box-shadow: 0 0 5px 0px #d4d4d4;
}

.grandImage {
  position: sticky;
  border-radius: 0.5em;
  height: 55vh;
  width: min(55vh, 100%);
  overflow: hidden;
  --url: url("./images/image-product-1.jpg");
  --zoom-x: 0%;
  --zoom-y: 0%;
  --display: none;
}

.grandImage:hover {
  cursor: zoom-in;
}

.grandImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.grandImage::after {
  position: absolute;
  display: var(--display);
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 15, 15);
  background-image: var(--url);
  background-size: 200%;
  background-position: var(--zoom-x) var(--zoom-y);
  top: 0;
  left: 0;
}

.imageThumbnail {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.imageThumbnail img {
  width: 12vh;
  height: 12vh;
  border-radius: 0.5em;
  border: 0.35em solid rgba(255, 166, 0, 0);
  transition: 0.3s ease-in-out;
}

.imageThumbnail img:hover {
  border: 0.15em solid var(--Orange);
  opacity: 0.5;
  cursor: pointer;
}

.imageThumbnail img:focus {
  border: 0.15em solid var(--Orange);
  opacity: 0.5;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.D-flex {
  display: flex;
}

.m-b {
  margin-bottom: 0.5em;
}

.g-1 {
  gap: 1em;
}

@media only screen and (max-width: 760px) {
  .navList {
    display: flex;
    justify-content: right;
  }
  .menu {
    display: block;
  }
  .righties {
    position: fixed;
    display: none;
    background-color: var(--Black-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .list {
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    width: 50vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--White);
    z-index: 99;
    padding: 0.5rem;
    box-shadow: 0 0 5px 2px #dadada;
    padding-left: 1em;
  }
  .righties {
    position: fixed;
    display: none;
    background-color: var(--Black-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .list div {
    width: 100%;
    text-align: left;
  }
  .list div:has(h4):hover {
    border-radius: 0.5rem;
    background-color: var(--Pale-orange);
  }
  .close {
    display: block;
    width: 30vw;
    height: 10vh;
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    height: 100%;
  }
  .navBar {
    height: 10vh;
  }
  .menu {
    display: block;
  }
  .navList {
    justify-content: flex-end;
  }
  .close + img + svg path:hover {
    fill: var(--Orange);
  }
  hr {
    margin-bottom: 0;
  }
  .content {
    flex-direction: column;
  }
  .productImagePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .grandImage {
    border-radius: 0;
    flex-shrink: 1;
    width: 100vw;
    height: 55vh;
  }
  .imageThumbnail {
    display: none;
  }
  .productInfoPanel {
    width: 100%;
    margin: auto;
  }
  #decrease {
    width: 20vw;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  #quantity {
    width: 100%;
  }
  #increase {
    width: 20vw;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .form {
    flex-direction: column;
  }
  button {
    width: 90%;
  }
  .cart-summary {
    right: 5%;
    width: 90%;
    height: 40vh;
  }
}/*# sourceMappingURL=style.css.map */